; top-most EditorConfig file
root = true

; Unix-style newlines
[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{toml,yml}]
indent_size = 2

[{CMakeLists.txt,*.cmake}]
indent_style = space
indent_size = 4

[{*.c,*.h,*.cpp,*.hpp}]
indent_style = space
indent_size = 4
